.SwfUploadPanel_iconAdd {
	background-image:url(../images/add.png) !important;
}

.SwfUploadPanel_iconUpload {
	background-image:url(../images/arrow_up.gif) !important;
}

.SwfUploadPanel_iconCancel {
	background-image:url(../images/delete.png) !important;
}

.SwfUploadPanel_iconClear {
    background-image:url(../images/delete.png) !important;
}